.App {
  align-items: center;
  text-align: -webkit-center;

  .simple-select {
    padding: 10px;
  }

  .multi-select-autocomplete {
    padding: 10px;
  }

  .multi-select-checked {
    padding: 10px;
  }
}
